@import url("https://fonts.googleapis.com/css?family=Oxygen:400,700");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #000;
  font-family: "Oxygen", sans-serif; }

.container {
  background-color: #fff;
  display: grid;
  width: 1100px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-areas: "news  news" "news1 news4" "news2 news5" "news3 news6"; }

.news1 {
  grid-area: news1;
  padding: 10px 20px; }
  .news1 .widget {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0; }
  .news1 img {
    grid-column: 1;
    border-radius: 50%;
    border: 1px solid #797979;
    width: 50%;
    margin-left: 10px; }
  .news1 p {
    grid-column: 2;
    padding: 5px 0;
    margin-left: -35px;
    line-height: 1.2em; }
  .news1 strong {
    color: #1c1c1c; }

.news2 {
  grid-area: news2;
  padding: 10px 20px; }
  .news2 .widget {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0; }
  .news2 img {
    grid-column: 1;
    border-radius: 50%;
    border: 1px solid #797979;
    width: 50%;
    margin-left: 10px; }
  .news2 p {
    grid-column: 2;
    padding: 5px 0;
    margin-left: -35px;
    line-height: 1.2em; }
  .news2 strong {
    color: #1c1c1c; }

.news3 {
  grid-area: news3;
  padding: 10px 20px; }
  .news3 .widget {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0; }
  .news3 img {
    grid-column: 1;
    border-radius: 50%;
    border: 1px solid #797979;
    width: 50%;
    margin-left: 10px; }
  .news3 p {
    grid-column: 2;
    padding: 5px 0;
    margin-left: -35px;
    line-height: 1.2em; }
  .news3 strong {
    color: #1c1c1c; }

.news4 {
  grid-area: news4;
  padding: 10px 20px; }
  .news4 .widget {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0; }
  .news4 img {
    grid-column: 1;
    border-radius: 50%;
    border: 1px solid #797979;
    width: 50%;
    margin-left: 10px; }
  .news4 p {
    grid-column: 2;
    padding: 5px 0;
    margin-left: -35px;
    line-height: 1.2em; }
  .news4 strong {
    color: #1c1c1c; }

.news5 {
  grid-area: news5;
  padding: 10px 20px; }
  .news5 .widget {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0; }
  .news5 img {
    grid-column: 1;
    border-radius: 50%;
    border: 1px solid #797979;
    width: 50%;
    margin-left: 10px; }
  .news5 p {
    grid-column: 2;
    padding: 5px 0;
    margin-left: -35px;
    line-height: 1.2em; }
  .news5 strong {
    color: #1c1c1c; }

.news6 {
  grid-area: news6;
  padding: 10px 20px; }
  .news6 .widget {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0; }
  .news6 img {
    grid-column: 1;
    border-radius: 50%;
    border: 1px solid #797979;
    width: 50%;
    margin-left: 10px; }
  .news6 p {
    grid-column: 2;
    padding: 5px 0;
    margin-left: -35px;
    line-height: 1.2em; }
  .news6 strong {
    color: #1c1c1c; }

.news {
  grid-area: news;
  padding: 0 20px;
  border-bottom: 1px solid #c4c1c1;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 95%; }

.more {
  grid-area: more;
  justify-self: end;
  border-bottom: 1px solid #a4a4a4;
  padding: 10px 20px; }

h1, h4 {
  display: inline-block;
  color: #4d4d4d; }

h1 {
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: 1px solid #4d4c4c;
  padding: 50px 0;
  margin-left: -20px; }

h2, h4 {
  font-size: 1.2em;
  font-weight: 700;
  color: #4d4d4d; }

p {
  color: #999; }

hr {
  border-top: 1px solid #a4a4a4; }

h4 {
  position: relative;
  margin-left: 670px;
  text-align: right;
  color: #8c8c8c; }

/*# sourceMappingURL=style.css.map */
