@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #1f1f1f; }

.container {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  color: #696969;
  width: 505px;
  margin: 100px auto;
  display: grid; }
  .container h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    padding: 20px 5px; }
  .container .table {
    background-color: #fff;
    box-shadow: 0px 1px 2px #888888;
    margin: 10px 5px;
    padding: 10px 20px;
    display: grid;
    grid-template-areas: "head" "row1" "row2" "row3" "row4" "row5" "row6" "row7" "row8" "row9" "row10" "line" "foot"; }
    .container .table .head {
      display: grid;
      border-bottom: 0.5px solid #d9d9d9;
      padding-bottom: 20px;
      padding-top: 20px;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell1 cell2 cell3"; }
      .container .table .head .cell1 {
        grid-area: cell1;
        font-size: 0.9em; }
      .container .table .head .cell2, .container .table .head .cell3 {
        text-align: right; }
      .container .table .head .cell2 {
        grid-area: cell2;
        font-size: 0.9em; }
      .container .table .head .cell2, .container .table .head .cell3 {
        text-align: right; }
      .container .table .head .cell3 {
        grid-area: cell3;
        font-size: 0.9em; }
      .container .table .head .cell2, .container .table .head .cell3 {
        text-align: right; }
    .container .table .row1 {
      display: grid;
      grid-area: row1;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row1 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row1 .cell1, .container .table .row1 .cell2 {
        text-align: right; }
      .container .table .row1 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row1 .cell1, .container .table .row1 .cell2 {
        text-align: right; }
      .container .table .row1 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row1 .cell1, .container .table .row1 .cell2 {
        text-align: right; }
    .container .table .row2 {
      display: grid;
      grid-area: row2;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row2 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row2 .cell1, .container .table .row2 .cell2 {
        text-align: right; }
      .container .table .row2 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row2 .cell1, .container .table .row2 .cell2 {
        text-align: right; }
      .container .table .row2 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row2 .cell1, .container .table .row2 .cell2 {
        text-align: right; }
    .container .table .row3 {
      display: grid;
      grid-area: row3;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row3 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row3 .cell1, .container .table .row3 .cell2 {
        text-align: right; }
      .container .table .row3 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row3 .cell1, .container .table .row3 .cell2 {
        text-align: right; }
      .container .table .row3 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row3 .cell1, .container .table .row3 .cell2 {
        text-align: right; }
    .container .table .row4 {
      display: grid;
      grid-area: row4;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row4 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row4 .cell1, .container .table .row4 .cell2 {
        text-align: right; }
      .container .table .row4 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row4 .cell1, .container .table .row4 .cell2 {
        text-align: right; }
      .container .table .row4 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row4 .cell1, .container .table .row4 .cell2 {
        text-align: right; }
    .container .table .row5 {
      display: grid;
      grid-area: row5;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row5 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row5 .cell1, .container .table .row5 .cell2 {
        text-align: right; }
      .container .table .row5 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row5 .cell1, .container .table .row5 .cell2 {
        text-align: right; }
      .container .table .row5 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row5 .cell1, .container .table .row5 .cell2 {
        text-align: right; }
    .container .table .row6 {
      display: grid;
      grid-area: row6;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row6 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row6 .cell1, .container .table .row6 .cell2 {
        text-align: right; }
      .container .table .row6 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row6 .cell1, .container .table .row6 .cell2 {
        text-align: right; }
      .container .table .row6 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row6 .cell1, .container .table .row6 .cell2 {
        text-align: right; }
    .container .table .row7 {
      display: grid;
      grid-area: row7;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row7 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row7 .cell1, .container .table .row7 .cell2 {
        text-align: right; }
      .container .table .row7 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row7 .cell1, .container .table .row7 .cell2 {
        text-align: right; }
      .container .table .row7 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row7 .cell1, .container .table .row7 .cell2 {
        text-align: right; }
    .container .table .row8 {
      display: grid;
      grid-area: row8;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row8 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row8 .cell1, .container .table .row8 .cell2 {
        text-align: right; }
      .container .table .row8 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row8 .cell1, .container .table .row8 .cell2 {
        text-align: right; }
      .container .table .row8 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row8 .cell1, .container .table .row8 .cell2 {
        text-align: right; }
    .container .table .row9 {
      display: grid;
      grid-area: row9;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row9 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row9 .cell1, .container .table .row9 .cell2 {
        text-align: right; }
      .container .table .row9 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row9 .cell1, .container .table .row9 .cell2 {
        text-align: right; }
      .container .table .row9 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row9 .cell1, .container .table .row9 .cell2 {
        text-align: right; }
    .container .table .row10 {
      display: grid;
      grid-area: row10;
      border-bottom: 0.5px solid #d9d9d9;
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-areas: "cell0 cell1 cell2"; }
      .container .table .row10 .cell0 {
        grid-area: cell0;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row10 .cell1, .container .table .row10 .cell2 {
        text-align: right; }
      .container .table .row10 .cell1 {
        grid-area: cell1;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row10 .cell1, .container .table .row10 .cell2 {
        text-align: right; }
      .container .table .row10 .cell2 {
        grid-area: cell2;
        color: #000;
        padding: 5px 0;
        margin: 1px 0;
        font-size: 0.8em; }
      .container .table .row10 .cell1, .container .table .row10 .cell2 {
        text-align: right; }
    .container .table .line hr {
      height: 0.5px;
      width: 109%;
      margin-left: -20px;
      margin-top: 20px;
      color: #d9d9d9;
      opacity: 0.2; }
    .container .table .foot {
      grid-area: foot;
      padding-top: 5px;
      display: grid;
      grid-template-areas: "cell1 cell2 cell2 cell2 cell2";
      font-size: 0.8em; }
      .container .table .foot .cell1 {
        grid-area: cell1; }
      .container .table .foot .cell2 {
        grid-area: cell2;
        justify-self: right;
        color: #3171d3;
        font-size: 1.1em; }

/*# sourceMappingURL=main.css.map */
