@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');
$font:    'Source Serif Pro', serif;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  background-color: #fff;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 4fr;
}

.you {
  grid-area: you;
  grid-column: 2 / 2;
  padding: 100px 10px;
  width: 400px;
  z-index: 1;
}
.hero {
  grid-area: hero;
  grid-column: 2 / span 3;
  img {
    width: 85%;
    margin-left: 200px;
    overflow: hidden;
  }
}

h1 {
  font-size: 3em;
  padding-bottom: 20px;
}

p {
  font-size: 1.2em;
  font-family: $font;
  padding-bottom: 20px;
}

button {
  width: 180px;
  height: 50px;
  border: none;
  color: #000;
  background-color: orange;
}
