@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400')
$font1:    'Open Sans', sans-serif
$font2:    'Roboto', sans-serif

*, *:after, *:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


body
  background-color: #1f1f1f


.container
  h1
    font-family: $font1
    font-weight: 300
    font-size: 1.2em
    padding: 20px 5px

  background-color: #f2f2f2
  font-family: $font2
  color: #696969
  width: 505px
  margin: 100px auto
  display: grid
  .table
    background-color: #fff
    box-shadow: 0px 1px 2px #888888
    margin: 10px 5px
    padding: 10px 20px
    display: grid
    grid-template-areas: "head" "row1" "row2" "row3" "row4" "row5" "row6" "row7" "row8" "row9" "row10" "line" "foot"
    .head
      display: grid
      border-bottom: 0.5px solid #d9d9d9
      padding-bottom: 20px
      padding-top: 20px
      grid-template-columns: 3fr 1fr 1fr
      grid-template-areas: "cell1 cell2 cell3"
      @for $j from 1 through 3
        .cell#{$j}
          grid-area: cell#{$j}
          font-size: 0.9em
        .cell2,.cell3
          text-align: right
    @for $i from 1 through 10
      .row#{$i}
        display: grid
        grid-area: row#{$i}
        border-bottom: 0.5px solid #d9d9d9
        grid-template-columns: 3fr 1fr 1fr
        grid-template-areas: "cell0 cell1 cell2"
        @for $k from 0 through 2
          .cell#{$k}
            grid-area: cell#{$k}
            color: #000
            padding: 5px 0
            margin: 1px 0
            font-size: 0.8em
          .cell1,.cell2
            text-align: right

    .line
      hr
        height: 0.5px
        width: 109%
        margin-left: -20px
        margin-top: 20px
        color: #d9d9d9
        opacity: 0.2


    .foot
      grid-area: foot
      padding-top: 5px
      display: grid
      grid-template-areas: "cell1 cell2 cell2 cell2 cell2"
      font-size: 0.8em
      .cell1
        grid-area: cell1

      .cell2
        grid-area: cell2
        justify-self: right
        color: #3171d3
        font-size: 1.1em
