@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #1f1f1f; }

.container {
  font-family: "Roboto", sans-serif;
  display: grid;
  width: 1245px;
  margin: 0 auto;
  background-color: #fff;
  grid-template-areas: "head" "banner" "team" "footer"; }
  .container .header {
    grid-area: head;
    display: grid;
    padding: 35px;
    grid-template-areas: "logo . nav"; }
    .container .header .logo {
      grid-area: logo;
      align-self: center; }
      .container .header .logo img {
        width: 50px; }
    .container .header .menu {
      grid-area: nav;
      align-self: center;
      justify-self: right; }
      .container .header .menu ul {
        text-align: right;
        font-weight: 700; }
        .container .header .menu ul li {
          display: inline;
          font-size: 0.9em;
          padding-right: 60px; }
  .container .banner {
    grid-area: banner;
    background-color: #7fbb49;
    padding: 90px;
    color: #fff;
    height: 345px;
    text-align: center; }
    .container .banner h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 3em;
      font-weight: 700;
      padding-bottom: 20px; }
    .container .banner p {
      font-family: "Roboto", sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 2em;
      padding: 0 200px; }
  .container .team {
    grid-area: team;
    display: grid;
    grid-template-areas: "title" "row1" "row2" "row3" "row4" "row5" "row6" "row7"; }
    .container .team .title {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      padding: 80px 0; }
    .container .team h2 {
      font-weight: 700;
      padding: 5px; }
    .container .team h3 {
      color: #b8b8b8;
      padding-top: 5px;
      padding-bottom: 20px; }
    .container .team .row1 {
      display: grid;
      grid-area: row1;
      grid-template-columns: 1fr repeat(4, 2fr) 1fr;
      grid-template-areas: ". cell1 cell2 cell3 cell4 ."; }
      .container .team .row1 .cell1 {
        grid-area: cell1;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row1 .cell2 {
        grid-area: cell2;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row1 .cell3 {
        grid-area: cell3;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row1 .cell4 {
        grid-area: cell4;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
    .container .team .row2 {
      display: grid;
      grid-area: row2;
      grid-template-columns: 1fr repeat(4, 2fr) 1fr;
      grid-template-areas: ". cell1 cell2 cell3 cell4 ."; }
      .container .team .row2 .cell1 {
        grid-area: cell1;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row2 .cell2 {
        grid-area: cell2;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row2 .cell3 {
        grid-area: cell3;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row2 .cell4 {
        grid-area: cell4;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
    .container .team .row3 {
      display: grid;
      grid-area: row3;
      grid-template-columns: 1fr repeat(4, 2fr) 1fr;
      grid-template-areas: ". cell1 cell2 cell3 cell4 ."; }
      .container .team .row3 .cell1 {
        grid-area: cell1;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row3 .cell2 {
        grid-area: cell2;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row3 .cell3 {
        grid-area: cell3;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row3 .cell4 {
        grid-area: cell4;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
    .container .team .row4 {
      display: grid;
      grid-area: row4;
      grid-template-columns: 1fr repeat(4, 2fr) 1fr;
      grid-template-areas: ". cell1 cell2 cell3 cell4 ."; }
      .container .team .row4 .cell1 {
        grid-area: cell1;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row4 .cell2 {
        grid-area: cell2;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row4 .cell3 {
        grid-area: cell3;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row4 .cell4 {
        grid-area: cell4;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
    .container .team .row5 {
      display: grid;
      grid-area: row5;
      grid-template-columns: 1fr repeat(4, 2fr) 1fr;
      grid-template-areas: ". cell1 cell2 cell3 cell4 ."; }
      .container .team .row5 .cell1 {
        grid-area: cell1;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row5 .cell2 {
        grid-area: cell2;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row5 .cell3 {
        grid-area: cell3;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row5 .cell4 {
        grid-area: cell4;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
    .container .team .row6 {
      display: grid;
      grid-area: row6;
      grid-template-columns: 1fr repeat(4, 2fr) 1fr;
      grid-template-areas: ". cell1 cell2 cell3 cell4 ."; }
      .container .team .row6 .cell1 {
        grid-area: cell1;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row6 .cell2 {
        grid-area: cell2;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row6 .cell3 {
        grid-area: cell3;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row6 .cell4 {
        grid-area: cell4;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
    .container .team .row7 {
      display: grid;
      grid-area: row7;
      grid-template-columns: 1fr repeat(4, 2fr) 1fr;
      grid-template-areas: ". cell1 cell2 cell3 cell4 ."; }
      .container .team .row7 .cell1 {
        grid-area: cell1;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row7 .cell2 {
        grid-area: cell2;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row7 .cell3 {
        grid-area: cell3;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
      .container .team .row7 .cell4 {
        grid-area: cell4;
        padding: 10px;
        padding-bottom: 180px;
        text-align: center; }
  .container footer {
    grid-area: footer;
    display: grid;
    height: 125px;
    padding: 40px;
    background-color: #efefef;
    grid-template-columns: 1fr;
    grid-template-areas: "co . . li ic"; }
    .container footer ul {
      padding-left: 10px;
      margin: 10px 5px; }
    .container footer li {
      display: inline;
      color: #777;
      padding: 10px; }
    .container footer .copy {
      grid-area: co; }
    .container footer .liens {
      grid-area: li; }
    .container footer .icones {
      grid-area: ic; }

/*# sourceMappingURL=main.css.map */
